<div class="toolbar">
    <a href="/app#/cases" class="btn btn-default">Back</a>
    <button ng-click="save(item)" class="btn btn-primary" ng-disable="saving">Save</button>
    <span ng-show="saving">Saving…</span>
    <button ng-click="save(item, true)" class="btn btn-default next-btn-group" ng-disable="saving">Save & New</button>
</div>
<h2>{{item.Title}}</h2>
<form role="form" name="detail">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="date">Date</label>
                <input type="datetime" required class="form-control" id="date" placeholder="DD/MM/YYYY" ng-model="item.date">
            </div>
            <div class="form-group">
                <label for="numberOfVictims">Number of Victims</label>
                <input type="number" required class="form-control" id="numberOfVictims" placeholder="" ng-model="item.numberOfVictims">
            </div>
            <div class="form-group">
                <label for="place">Place</label>
                <input type="text" class="form-control place-search" id="place" placeholder="Search place..." ng-model="item.place">
            </div>
            <div class="form-group">
                <label for="lat">Place (latitude, longitude)</label>
                <div>
                    <input type="text" required class="form-control lat" id="lat" placeholder="latitude" ng-model="item.lat">
                    <input type="text" required class="form-control lng" id="lng" placeholder="longitude" ng-model="item.lng">
                </div>
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label for="title">Map</label>
            <div class="map-canvas" map search-input=".place-search" lat="item.lat" lng="item.lng" place="item.place"></div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6">
            <label for="title">Title <span class="lan">english</span></label>
            <input type="text" required class="form-control" id="title" placeholder="enter title" ng-model="item.title">
        </div>
        <div class="form-group col-sm-6">
            <label for="titleLocal">Title <span class="lan">ukraine</span></label>
            <input type="text" class="form-control" id="titleLocal" placeholder="введіть назву" ng-model="item.titleLocal">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6">
            <label for="description">Description <span class="lan">english</span></label>
            <textarea class="form-control" required id="description" placeholder="enter description" ng-model="item.description"></textarea>
        </div>
        <div class="form-group col-sm-6">
            <label for="descriptionLocal">Description <span class="lan">ukraine</span></label>
            <textarea class="form-control" id="descriptionLocal" placeholder="введіть опис" ng-model="item.descriptionLocal"></textarea>
        </div>
    </div>
</form>
