<div class="toolbar">
    <a href="/app#/cases" class="btn btn-default">Back</a>
    <a ng-click="save(item)" class="btn btn-primary">Save</a>
</div>
<h2>{{item.Title}}</h2>
<form role="form">
    <div class="row">
        <div class="form-group col-sm-6">
            <label for="date">Date</label>
            <input type="datetime" class="form-control" id="date" placeholder="enter title" ng-model="item.date">
        </div>
        <div class="form-group col-sm-6">
            <label for="victimCount">Number of Victims</label>
            <input type="datetime" class="form-control" id="victimCount" placeholder="enter title" ng-model="item.victimCount">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="place">Location</label>
                <input type="text" class="form-control place-search" id="place" placeholder="Search place...">
            </div>
            <div class="form-group">
                <label for="lang">Place (lang, long)</label>
                <div>
                    <input type="datetime" class="form-control lang" id="lang" placeholder="lang" ng-model="item.lang">
                    <input type="datetime" class="form-control long" id="long" placeholder="long" ng-model="item.long">
                </div>
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label for="title">Map</label>
            <div class="map-canvas" map search-input=".place-search"></div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6">
            <label for="title">Title <span class="lan">english</span></label>
            <input type="text" class="form-control" id="title" placeholder="enter title" ng-model="item.title">
        </div>
        <div class="form-group col-sm-6">
            <label for="titleLocal">Title <span class="lan">ukraine</span></label>
            <input type="text" class="form-control" id="titleLocal" placeholder="введіть назву" ng-model="item.titleLocal">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6">
            <label for="description">Description <span class="lan">english</span></label>
            <textarea class="form-control" id="description" placeholder="enter description" ng-model="item.description"></textarea>
        </div>
        <div class="form-group col-sm-6">
            <label for="descriptionLocal">Description <span class="lan">ukraine</span></label>
            <textarea class="form-control" id="descriptionLocal" placeholder="введіть опис" ng-model="item.descriptionLocal"></textarea>
        </div>
    </div>
</form>
