<div class="toolbar" ng-if="currentUser.isAdministrator">
    <a href="/app#/users/new" class="btn btn-primary">New</a>
</div>

<table class="table">
    <tr>
        <th>e-mail</th>
        <th>Is administrator</th>
        <th>Is active</th>
    </tr>
    <tr ng-repeat="user in users">
        <td>{{user.email}}</td>
        <td>{{user.isAdministrator}}</td>
        <td>{{user.isActive}}</td>
        <td ng-if="currentUser.isAdministrator"><a ng-href="#/users/{{user.id}}">Edit</a></td>
    </tr>
</table>