<div class="toolbar">
    <a href="/app#/users" class="btn btn-default">Back</a>
    <button ng-click="save(item)" class="btn btn-primary" ng-disable="saving">Save</button>
    <span ng-show="saving">Saving…</span>
    <button ng-click="save(item, true)" class="btn btn-default next-btn-group" ng-disable="saving">Save & New</button>
    <button ng-click="deleteItem(item)" class="btn btn-danger pull-right" ng-disable="saving">Delete</button>
</div>
<h2>{{item.Title}}</h2>
<div ng-hide="item.$resolved">Loading...</div>
<form role="form" name="detail" ng-show="item.$resolved">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="email">e-mail</label>
                <input type="email" required class="form-control" id="email" placeholder="name@domain.com" ng-model="item.email" ng-disabled="item.id != null">
            </div>
            <div class="form-group">
                <label for="isAdministrator">Is administrator</label>
                <input type="checkbox" class="form-control" id="isAdministrator" placeholder="" ng-model="item.isAdministrator" ng-init="item.isAdministrator=false">
            </div>
            <div class="form-group">
                <label for="isActive">Is active</label>
                <input type="checkbox" class="form-control" id="isActive" placeholder="" ng-model="item.isActive" ng-init="item.isActive=false">
            </div>
        </div>
    </div>
</form>
